# ⚙️ IntelliJ IDEA
.idea/
*.iml

# 📦 Maven
target/
log/
logs/
*.log

# 🧪 Configuración y metadatos del sistema
.DS_Store
Thumbs.db

# 🔒 Archivos ocultos comunes (excluyendo .gitignore)
.env
*.swp
*.swo
*.bak

# ⛔ Excepciones explícitas
!.gitignore
